<div class="container">
    <form [formGroup]="novoMetodoForm" (ngSubmit)="onSubmit()">
        <div class="row">

            <mat-form-field appearance="outline">
                <mat-label>Método de pagamento</mat-label>
                <input matInput type="text" [(ngModel)]="pagamento.description" formControlName="description" placeholder="Ex: Cartão de Débito">
            </mat-form-field>
        </div>







        <div class="botao">
            <button type="submit" class="btn btn-primary" [disabled]="!novoMetodoForm.valid">Salvar</button>
        </div>
    </form>

</div>