<div class="container">
    <form [formGroup]="novoMetodoForm" (ngSubmit)="onSubmit()">
        <div class="row">

            <mat-form-field appearance="outline">
                <mat-label>Método de pagamento</mat-label>
                <input matInput type="text" [(ngModel)]="pagamento.description" formControlName="description" placeholder="Ex: Cartão de Débito" maxlength="80">
                <mat-error *ngIf="novoMetodoForm.controls.description.hasError('required')">
                    Por favor insira um novo método de pagamento.
                </mat-error>
                <mat-error *ngIf="novoMetodoForm.controls.description.hasError('minLength')">
                    Por favor insira um novo método de pagamento com dois ou mais caracteres.
                </mat-error>
            </mat-form-field>
        </div>

        <div class="botao">
            <button type="submit" class="btn btn-primary" [disabled]="!novoMetodoForm.valid">Salvar</button>
        </div>
    </form>

</div>