<header>

  <nav class="navbar navbar-expand-md fixed-top" id="navbar">
    
    <div class="container">
      <a class="navbar-brand" href="#">
        <!-- <img src="../../assets/img/canto-da-pizza-logo.png" *ngIf="!empresa.logoPath" class="" id="logo-empresa"> -->
        <img [src]="empresa.logoPath" *ngIf="empresa.logoPath" class="" id="logo-empresa">
      </a>

      <div class="container-titulo d-flex ">
        <span class="navbar-brand">
        <h4>{{empresa.name}}</h4>
        <p>{{empresa.slogan}}</p>
        </span> 
        
      </div>
      
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#nav-principal" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <i class="fas fa-bars text-white"></i>
      </button>
      
      <div class="collapse navbar-collapse" id="nav-principal">
        <ul class="navbar-nav" id="menu-direita">
          <li class="nav-item">
            <p class="nav-link" style="margin-bottom: 0;" id="saudacao-usuario"  *ngIf="authenticated==true">Olá {{user.name}}</p>
            <p class="nav-link" style="margin-bottom: 0;" id="saudacao-usuario" *ngIf="authenticated==false">Olá Visitante</p></li>
          
            <li class="nav-item divisor d-none d-md-block"></li>
          
          <li class="nav-item">
            <a [routerLink]="['/novoUsuario']" class="nav-link " *ngIf="authenticated==false">Cadastrar-se</a>
            <a [routerLink]="['/perfil']" class="nav-link " *ngIf="authenticated==true && admin==false"style="margin-right: 5px">Perfil</a>
            <a [routerLink]="['/admin']" class="nav-link " *ngIf="authenticated==true && admin==true"style="margin-right: 5px">Painel de Adminstrador</a>
          </li>
            <li class="nav-item">
              <a [routerLink]="['']" href="" class="nav-link" *ngIf="authenticated==true" (click)="logout()">Logout</a>
              <a [routerLink]="['/login']" href="" class="nav-link" *ngIf="authenticated==false">Login</a>
            </li>
         </ul>
      </div>
    </div>
  </nav>

  </header>

  
      <section id="complemento-header" class="d-none d-md-block">
        <div class="container">  
          <div class="row">
            <div class="col-md-4"> 
            </div>
            <div class="col-md-8">
              <nav class="navbar navbar-expand-md">
                <ul class="navbar-nav">
                  <li class="">
                    <a [routerLink]="['']" style="margin: 0px 0px;" class="btn-sub-menu">
                      <fa-icon [icon]="faHamburger" class="mr-1"></fa-icon>
                        Cardápio</a>
                  </li>
                  <li class="margin-botoes">
                    <a [href]="whatsapp" target="_blank" style="margin: 0px 0px;" class="btn-sub-menu">
                      <fa-icon [icon]="faMobileAlt" class="mr-1"></fa-icon>
                      Contato</a>
                  </li>
                  <li class="margin-botoes">
                    <a href="" style="margin: 0px 0px;" class="btn-sub-menu">
                      <fa-icon [icon]="faAddressCard" class="mr-1"></fa-icon>
                      Sobre</a>
                  </li>    
                  <li class="margin-botoes">
                    <a [href]="empresa.linkGoogleMaps" target="_blank" style="margin: 0px 0px;" class="btn-sub-menu">
                      <fa-icon [icon]="faHome" class="mr-1"></fa-icon>
                      Endereço</a>
                  </li>  
              </ul>
              </nav> 
            </div>
          </div>
          
        </div>    
      </section>
  

  
  