<header>

  <nav class="navbar navbar-expand-md fixed-top" id="navbar">
    
    <div class="container">
      <a class="navbar-brand" href="#">
        <img src="../../assets/img/canto-da-pizza-logo.png" class="" id="logo-empresa">
      </a>

      <div class="container-titulo d-flex ">
        <span class="navbar-brand">
        <h4>Canto da Pizza</h4>
        <p>Qualidade e sabor</p>
        </span> 
        
      </div>
      
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#nav-principal" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <i class="fas fa-bars text-white"></i>
      </button>
      
      <div class="collapse navbar-collapse" id="nav-principal">
        <ul class="navbar-nav" id="menu-direita">
          <li class="nav-item">
            <p class="nav-link" style="margin-bottom: 0;" id="saudacao-usuario">Olá, Mateus Mendes</p></li>
          
            <li class="nav-item divisor d-none d-md-block"></li>
          
          <li class="nav-item">
            <a href="" class="nav-link ">Cadastrar-se</a></li>
            <li class="nav-item">
              <a href="" class="nav-link ">Entrar</a></li>
         </ul>
      </div>
    </div>
  </nav>

  </header>

  
      <section id="complemento-header" class="d-none d-md-block">
        <div class="container">  
          <div class="row">
            <div class="col-md-4"> 
            </div>
            <div class="col-md-8">
              <nav class="navbar navbar-expand-md">
                <ul class="navbar-nav">
                  <li class="">
                    <a href="" style="margin: 0px 0px;" class="btn-sub-menu">
                      <fa-icon [icon]="faHamburger" class="mr-1"></fa-icon>
                        Cardápio</a>
                  </li>
                  <li class="margin-botoes">
                    <a href="" style="margin: 0px 0px;" class="btn-sub-menu">
                      <fa-icon [icon]="faMobileAlt" class="mr-1"></fa-icon>
                      Contato</a>
                  </li>
                  <li class="margin-botoes">
                    <a href="" style="margin: 0px 0px;" class="btn-sub-menu">
                      <fa-icon [icon]="faAddressCard" class="mr-1"></fa-icon>
                      Sobre</a>
                  </li>    
                  <li class="margin-botoes">
                    <a href="" style="margin: 0px 0px;" class="btn-sub-menu">
                      <fa-icon [icon]="faHome" class="mr-1"></fa-icon>
                      Endereço</a>
                  </li>  
              </ul>
              </nav> 
            </div>
          </div>
          
        </div>    
      </section>
  

  
  