<hr>

<div class="row">
    <div class="subtitulo">
        <h2>Endereço</h2>
        <mat-icon>home</mat-icon>
    </div>
    <div class="col-md-6">
        <mat-form-field appearance="outline">
            <mat-label>Rua</mat-label>
            <input matInput placeholder="Ex. Pizza">
        </mat-form-field>
    </div>

    <div class="col-md-6">
        <mat-form-field appearance="outline">
            <mat-label>Número</mat-label>
            <input matInput placeholder="Ex. Pizza">
        </mat-form-field>
    </div>

    <div class="col-md-6">
        <mat-form-field appearance="outline">
            <mat-label>Complemento</mat-label>
            <input matInput placeholder="Ex. Pizza">
        </mat-form-field>
    </div>

    <div class="col-md-6">
        <mat-form-field appearance="outline">
            <mat-label>CEP</mat-label>
            <input matInput placeholder="Ex. Pizza">
        </mat-form-field>
    </div>

    <div class="col-md-6">
        <mat-form-field appearance="outline">
            <mat-label>Bairro</mat-label>
            <input matInput placeholder="Ex. Pizza">
        </mat-form-field>
    </div>

    <div class="col-md-6">
        <mat-form-field appearance="outline">
            <mat-label>Cidade</mat-label>
            <input matInput placeholder="Ex. Pizza">
        </mat-form-field>
    </div>
</div>