footer{
    background: black;
}

#logo-footer{
    width: 80px;
}

#msg-desenvolvedor {
    font-size: 0.8em;
    margin: auto;
}

#msg-desenvolvedor fa-icon {
    color: aqua;
}

h5{
    color: white;
    margin:0px 0px 3px 0px;
}

.infos{
    padding: 5px 0px;
}

h6{
    font-size: 0.7em;
    color: white;
}