<body>
    <div class="titulo">
        <h1>Redefinir Senha</h1>
    </div>
    <div class="container">
        <form [formGroup]="redefinirSenhaForm">
            <div class="row">
                <div class="col-md-6">
                    <mat-form-field appearance="outline">
                        <mat-label>Nova Senha</mat-label>
                        <input matInput [type]="hide ? 'password' : 'text'" formControlName="senha" [(ngModel)]="senha">
                        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                            [attr.aria-pressed]="hide">
                            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                        </button>
                    </mat-form-field>
                </div>
                <div class="col-md-6">
                    <mat-form-field appearance="outline">
                        <mat-label>Repetir Senha</mat-label>
                        <input matInput [type]="hide ? 'password' : 'text'" formControlName="repetirSenha"
                            [(ngModel)]="repetirSenha">
                        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                            [attr.aria-pressed]="hide">
                            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                        </button>
                    </mat-form-field>
                </div>
            </div>
            <div class="botoes">
                <button mat-flat-button color="primary" style="margin-right: 10px;" (click)="salvar()"
                    [disabled]="!redefinirSenhaForm.valid">Salvar</button>
                <button mat-flat-button color="warn" mat-dialog-close>Cancelar</button>
            </div>
        </form>
    </div>
</body>