<body>
    <header>
        <h4>CARRINHO</h4>
    </header>

    <div class="row div-itens-carrinho" *ngFor="let item of itensCarrinho">
        <div class="col-6 item">
            <h5 class="produto">{{item.name}} ({{item.quantityCar}}x)</h5>
            <div class="div-infos">
                <span class="descricao-produto" *ngIf="item.additionalsString">{{item.additionalsString}}</span>
            </div>
            <span class="preco">R${{item.total.toFixed(2).replace('.', ',')}}</span>
        </div>

        <div class="col-3 botoes">
            <a class="botoes-itens">
                <mat-icon style="color: black;" (click)="addItem(item)">add</mat-icon>
            </a>

            <a class="botoes-itens">
                <mat-icon color="warn" (click)="removeItem(item)">delete</mat-icon>
            </a>
        </div>

        <div class="col-3">
            <img *ngIf="item.imagePath" [src]="item.imagePath">
            <img *ngIf="!item.imagePath" src="../../../assets/img/Figura-Hamburguer-PNG-1280x720.png">
        </div>

        <div class="container">
            <hr>
        </div>
    </div>

    <div class="resumo">
        <div class="item-resumo">
            <h5 class="produto">FRETE</h5>
            <h5 class="produto valor-resumo">{{frete.toFixed(2).replace('.', ',')}}</h5>
        </div>

        <div class="item-resumo">
            <h5 class="produto" style="color: red;">TOTAL</h5>
            <h5 class="produto valor-resumo">{{totalPedido.toFixed(2).replace('.', ',')}}</h5>
        </div>

    </div>

    <div class="">
        <nav class="navbar navbar-expand navbar-dark" style="margin-bottom: 10px;">
            <div class="container-fluid">
                <h5 class="navbar-brand">Entrega</h5>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarNavDarkDropdown" aria-controls="navbarNavDarkDropdown" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNavDarkDropdown">
                    <ul class="navbar-nav">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" id="navbarDarkDropdownMenuLink" role="button"
                                data-bs-toggle="dropdown" aria-expanded="false">
                                Endereço
                            </a>
                            <ul class="dropdown-menu dropdown-menu-white" aria-labelledby="navbarDarkDropdownMenuLink">
                                <li *ngFor="let endereco of enderecos">
                                    <a class="dropdown-item" (click)="alterarEndereco(endereco)">{{endereco.street}},
                                        {{endereco.number}}, {{endereco.neighborhood.name}}</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
            <p *ngIf="enderecoEscolhido!=null">{{enderecoEscolhido.street}}, {{enderecoEscolhido.number}},
                {{enderecoEscolhido.neighborhood.name}}</p>
        </nav>

        <nav class="navbar navbar-expand navbar-dark">
            <div class="container-fluid">
                <h5 class="navbar-brand">Pagamento</h5>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarNavDarkDropdown" aria-controls="navbarNavDarkDropdown" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNavDarkDropdown">
                    <ul class="navbar-nav">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" id="navbarDarkDropdownMenuLink" role="button"
                                data-bs-toggle="dropdown" aria-expanded="false">
                                Método
                            </a>
                            <ul class="dropdown-menu dropdown-menu-white" aria-labelledby="navbarDarkDropdownMenuLink">
                                <li *ngFor="let metodo of pagamentos"><a class="dropdown-item"
                                        (click)="alterarMetodoPagamento(metodo)">{{metodo.description}}</a></li>
                                <li>
                                    <hr class="dropdown-divider">
                                </li>
                                <li><a class="dropdown-item" (click)="pagamentoDinheiro(true)">Dinheiro</a></li>

                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
            <p *ngIf="pagamentoSelecionado != null && pagamentoPorDinheiro != true">{{pagamentoSelecionado.description}}</p>
            <div *ngIf="pagamentoPorDinheiro == true " class="container-fluid dinheiro">
                <p class="opcao-selecionada-dinheiro"> Troco para: </p>
                <input class="form-control troco" type="text" placeholder="Troco para quanto?" [(ngModel)]="valorDinheiro" appOnlyNumbers>
              </div>
        </nav>
    </div>

    <div class="botao-compra">
        <button type="button" class="btn btn-outline-danger btn-sm" (click)="exportarPedido()" [disabled]="!carrinho.open">Confirmar Pedido</button>
    </div>



    <br>




</body>