body{
    width: 250px;
    height: 300px;
}

h4{
    font-size: 0.8em;
}

h5{
    font-size: 0.6em;
    color: white;
    padding: 0;
    margin: 0;
}

.nav-link{
    font-size: 0.6em;
    padding: 0;
    margin-left: auto;
}

ul{
    margin-left: auto;
}

.navbar-dark{
    background: black;
}

.dropdown-item {
    font-size: 0.5em;
}

header{
    display: flex;
    justify-content: center;
}

.definicoes-pedido{
    width: 100%;
    background: black;
}

.produto{
    color: #696969;
    font-weight: bold;
}

.item{
    display: flex;
    flex-direction: column;
}

.descricao-produto{
    font-size: 0.5em;
    margin: 0;
}

.div-infos{
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 0;
    height: auto;
}

img{
    width: 40px;
    height: 40px;
}

.preco{
    font-size: 0.5em;
    font-weight: bold;
    color: red;
}

.div-itens-carrinho{
    display: flex;
    align-items: center;
}

.botoes{
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
}

.botoes-itens{
    width: 5px;
    margin-right: 30px;
    padding: 0;
    cursor: pointer;
}

mat-icon{
    font-size: medium;
}

hr{
    margin: 10px 0px;
}

.navbar{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.navbar p{
    font-size: 0.5em;
    margin: 0;
    padding: 5px 0px 0px 12px;
    color: white;
}

.resumo{
    display: flex;
    flex-direction: column;
}

.resumo h5{
    font-size: 0.7em;
}

.item-resumo{
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
}

.valor-resumo{
    margin-left: auto;
}

.botao-compra{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 10px;
}

.dinheiro{
    display: flex;
    flex-direction: row;
    margin-top: 10px;
 }

 .troco{
    width: 60%;
    height: 15%;
    margin-bottom: 10px;
    margin-left: auto;
}

.navbar .opcao-selecionada-dinheiro {
    margin: 0;
    padding: 0;
    font-size: 0.6em;
    color: white;
    margin-right: 10px;
    margin-top: 8px;
    font-weight: 500;
}