<div class="container">

    <div class="d-flex justify-content-center">
        <mat-card class="produto">
            <div class="row">
                <div class="col-md-4 flex">
                    <img class="img-produto" src="../../assets/img/Figura-Hamburguer-PNG-1280x720.png" alt="">
                </div>
                <div class="col-md-8">
                    <h2>{{product.name}}</h2>
                    <p>{{product.description}}</p>
                    <div class="d-flex">
                        <p class="preco">
                            Preço: <span style="color: red;">R${{product.price.toFixed(2)}}</span>

                        </p>

                    </div>
                </div>
            </div>

        </mat-card>
    </div>


    <form [formGroup]="newProductForm">
        <div class="row">
            <div class="col-md-6">
                <mat-form-field appearance="outline">
                    <mat-label for="nome-produto">Nome do Produto</mat-label>
                    <input matInput [(ngModel)]="product.name" formControlName="name" type="text"
                        placeholder="Ex: Hambúrguer" maxlength="80">
                    <mat-error *ngIf="newProductForm.controls.name.hasError('required')">
                        Por favor insira um nome.
                    </mat-error>
                    <mat-error *ngIf="newProductForm.controls.name.hasError('minlength')">
                        Por favor insira um nome com dois ou mais caracteres.
                    </mat-error>
                </mat-form-field>
            </div>
            <div class="col-md-6">
                <mat-form-field appearance="outline">
                    <mat-label for="descricao">Descrição do produto</mat-label>
                    <input matInput [(ngModel)]="product.description" formControlName="description" type="text"
                        placeholder="Ex: Carne, queijo, ovo, alface e tomate" maxlength="200">
                    <mat-error *ngIf="newProductForm.controls.description.hasError('required')">
                        Por favor insira uma descrição.
                    </mat-error>
                    <mat-error *ngIf="newProductForm.controls.description.hasError('minlength')">
                        Sua descrição deve conter pelo menos 04 caracteres.
                    </mat-error>
                </mat-form-field>
            </div>
        </div>


        <div class="row">
            <div class="col-md-6">
                <mat-form-field appearance="outline">
                    <mat-label for="preco-produto" class="form-label">Preço</mat-label>
                    <input matInput [(ngModel)]="product.price" formControlName="price" type="number" placeholder="0,00"
                        aria-describedby="basic-addon1" maxlength="10">
                    <mat-error *ngIf="newProductForm.controls.price.hasError('required')">
                        Seu produto deve ter o valor minímo de R$1,00.
                    </mat-error>
                    <mat-error *ngIf="newProductForm.controls.price.hasError('min')">
                        Seu produto deve ter o valor minímo de R$1,00.
                    </mat-error>
                </mat-form-field>
            </div>
            <div class="col-md-6">
                <mat-form-field appearance="outline">
                    <mat-label>Escolha uma Categoria</mat-label>
                    <mat-select [(ngModel)]="product.category" formControlName="category">
                        <mat-option *ngFor="let categoria of categorias" [value]="categoria">{{categoria.description}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
        </div>


        <div class="row">
            <div class="col-md-6">

                <h2 style="margin-bottom: 25px;">Disponibilidade do produto</h2>
                <mat-radio-group formControlName="availability" [(ngModel)]="product.availability">
                    <mat-radio-button [value]="true" style="margin-right: 10px;">Disponível</mat-radio-button>
                    <mat-radio-button [value]="false" selected>Não Disponível</mat-radio-button>
                </mat-radio-group>


            </div>
            <hr>

                <div class="row">
                    <div class="col-12">
                        <h2>Imagem do Produto</h2>
                        <div class="dropzone-off" (dragover)="onDragOverEvent($event)"
                            (dragleave)="onDragLeaveEvent($event)" [class.dropzone-on]="isDraggingOver"
                            (drop)="onDropEvent($event)">
                            <span *ngIf="!existeIMagem">Arraste sua imagem</span>
                            <span *ngIf="existeIMagem">{{imagens[0].name}}</span>
                        </div>
                    </div>
                </div>
                <hr>
        </div>

        <div class="row">
            <div class="col-6 adicionais" style="margin-top: 20px;">
                <h2>Cadastrar Adicionais</h2>
                <button mat-icon-button color="primary" (click)="addAdicional()">
                    <mat-icon>add</mat-icon>
                </button>
            </div>
        </div>

        <div class="row">
            <div class="col-12 adicional" *ngFor="let adicional of product.additional">
                <div class="row">
                    <div class="col-8">
                        <mat-form-field appearance="outline">
                            <mat-label>{{adicional.name}}</mat-label>
                            <mat-select>
                                <mat-option *ngFor="let adicionalItem of todosAdicionais" [value]="adicional"
                                    (click)="cadastrarAdicional(adicionalItem, adicional)">
                                    {{adicionalItem.name}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div class="col-4">
                        <button mat-mini-fab color="warn" style="margin-top: 20px;"
                            (click)="removeAdicional(adicional)">
                            <mat-icon>delete</mat-icon>
                        </button>
                    </div>
                </div>
            </div>
        </div>





        <div class="row">
            <div class="col-6 adicionais">
                <h2>Cadastrar Adicionais Obrigatórios</h2>
                <button mat-icon-button color="primary" (click)="addAdicionalObrigatorio()">
                    <mat-icon>add</mat-icon>
                </button>
            </div>
        </div>



        <div class="row">
            <form [formGroup]="additionalRequired">
                <mat-card *ngFor="let adicionalObrigatorio of product.additionalRequired" style="background: #DCDCDC;">

                    <div class="row">
                        <mat-card-title style="background: #DCDCDC;">
                            <div class="col-8 titulo-adicional-obrigatorio">
                                <h2>Adicional {{(product.additionalRequired?.indexOf(adicionalObrigatorio) || 0) + 1}}</h2>
                                <button mat-mini-fab color="warn" style="margin-top: 10px;"
                                    (click)="removeAdicionalObrigatorio(adicionalObrigatorio)">
                                    <mat-icon>delete</mat-icon>
                                </button>
                            </div>
                        </mat-card-title>
                    </div>
                    <div class="row">
                        <div class="col-6">
                            <mat-form-field appearance="outline">
                                <mat-label>Nome</mat-label>
                                <input matInput placeholder="Ex. Sabores" [ngModelOptions]="{standalone: true}" [(ngModel)]="adicionalObrigatorio.name" maxlength="80">
                            </mat-form-field>
                        </div>

                        <div class="col-4">

                        </div>

                        <div class="col-6">
                            <mat-form-field appearance="outline">
                                <mat-label>Quantidade mínima</mat-label>
                                <input matInput placeholder="Ex. 0" [ngModelOptions]="{standalone: true}" [(ngModel)]="adicionalObrigatorio.quantityMin">
                            </mat-form-field>
                        </div>
                        <div class="col-6">
                            <mat-form-field appearance="outline">
                                <mat-label>Quantidade Máxima</mat-label>
                                <input matInput placeholder="Ex. 3" [ngModelOptions]="{standalone: true}" [(ngModel)]="adicionalObrigatorio.quantityMax" >
                            </mat-form-field>
                        </div>
                    </div>


                    <div class="row">
                        <div class="col-6 adicionais">
                            <h2>Opções</h2>
                            <button mat-icon-button color="primary"
                                (click)="addAdicionalEmObrigatorio(adicionalObrigatorio)">
                                <mat-icon>add</mat-icon>
                            </button>
                        </div>
                    </div>


                    <div class="row">
                        <div class="col-12 adicional" *ngFor="let adicional of adicionalObrigatorio.additional">
                            <div class="row">
                                <div class="col-8">
                                    <mat-form-field appearance="outline">
                                        <mat-label>{{adicional.name}}</mat-label>
                                        <mat-select>
                                            <mat-option *ngFor="let adicionalItem of todosAdicionais" [value]="adicional"
                                                (click)="cadastrarAdicionalEmObrigatorio(adicionalObrigatorio, adicionalItem, adicional)">
                                                {{adicionalItem.name}}
                                            </mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                                <div class="col-4">
                                    <button mat-mini-fab color="warn" style="margin-top: 10px;"
                                        (click)="removeAdicionalEmObrigatorio(adicionalObrigatorio, adicional)">
                                        <mat-icon>delete</mat-icon>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </mat-card>
                
            </form>
        </div>





        <div class="d-flex justify-content-center mt-2">
            <button class="btn btn-primary" [disabled]="!newProductForm.valid" (click)="createProduct()">Salvar</button>
        </div>



    </form>
</div>