.bairro{
    width: 30%;
    margin-top: 15px;
    padding-bottom: 0%;
    margin-right: 15px;
}

.container{
    display: flex;
    direction: row;
    flex-wrap: wrap;
}

span{
    color: red;
}

mat-icon{
    font-size: medium;
    margin-left: 0;
}

a:hover{
    cursor: pointer;

}

.titulo{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
}

.titulo mat-icon{
    font-size: 1em;
    cursor: pointer;
}