body{
    width: 800px;
    /* min-height: 60vh; */
    max-height: 65vh;
}


.cabecalho{
    display: flex;
    flex-direction: row;
}

.confirmacao{
    font-size: 1.5em ;
    text-transform: uppercase;
    font-weight: bold;
    margin-right: 5px;
    margin-left: 0;
    
}

.titulo{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.titulo h2{
    font-size: 1em;
}

.botao{
    display: flex;
    justify-content: end;
}

.valores{
    display: flex;
    flex-direction: column;
    align-items: end;
    padding-bottom: 0;
    
}

.resumoPedido{
    margin-bottom: 5px;

}
.valoress{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.valoress span{
    margin-left: 5px;
}

h6{
    margin: 0;
}

h3{
    font-size: 1.4em;
}

h4{
    font-size: 1em;
    margin: 0;
}

.produto-quantidade{
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}

.produto-quantidade h3{
    margin: 0;
    padding: 0;
}

.quantidade{
    margin: 0px 5px;
    padding: 0;
}

.descricao-item p{
    font-size: 0.8em;
}

.info-pedido{
    display: flex;
    flex-direction: row;

}

.valor{
    margin: 0px 0px 0px 5px;
    padding: 0;
    font-weight: normal;
}




.finalizar-pedido{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.itens-mobile{
    margin-top: 10px;
}
.adicionais-mobile{
    margin: 0;
    padding: 0;
    font-size: 0.8em;
}






/* Extra small devices (portrait phones, less than 400px) */
@media (max-width: 400px) {
    
    body{
        width: 250px;
        /* min-height: 60vh; */
        max-height: 60vh;
    }

    .desktop{
        display: none;
    }

    .titulo{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    .confirmacao{
        margin-bottom: 0;
    }

    .descricao-item{
        display: flex;
        flex-direction: column;
        padding: 0;
    }

    h3{
        font-size: 1em;
    }

    .botao-mobile{
        margin-top: 10px;
    }

    .info-pedido{
        display: flex;
        flex-direction: column;
        margin-bottom: 10px;
    
    }

    .valor{
        margin: 0;
        margin-left: 3px;
        padding: 0;
        font-weight: normal;
    }

    .valores{
        align-items: flex-start;
    }
    

}

/* Extra small devices (portrait phones, less than 576px) */
    @media (min-width: 401px) and (max-width: 575px) {
        .desktop{
            display: none;
        }
    
    }
    
    
    /* Small devices (landscape phones, 576px and up) */
    @media (min-width: 576px) and (max-width: 767.98px) {
        .desktop{
            display: none;
        }
       
    }
    
    
    
    /* Medium devices (tablets, 768px and up) */
    @media (min-width: 768px) and (max-width: 991.98px) {
       .mobile{
           display: none;
       }
    }
    
    
    
    /* Large devices (desktops, 992px and up) */
    @media (min-width: 992px) and (max-width: 1199.98px) {
        .mobile{
            display: none;
        }
    
    }
    
    /* Extra large devices (large desktops, 1200px and up) */
    @media (min-width: 1200px) {
        .mobile{
            display: none;
        }
    }