<body>
    <div class="desktop">
        <div class="container cabecalho">
            <div class="titulo">
                <h1 class="confirmacao">Resumo</h1>
                <h2> | do pedido</h2>
            </div>
            <div class="fechar" style="margin-left: auto;">
                <button mat-icon-button color="warn" mat-dialog-close>
                    <mat-icon>close</mat-icon>
                </button>
            </div>
        </div>
    
        <div class="container">
            <div class="row " *ngFor="let item of itensCarrinho">
                <div class="col-md-8 descricao-item">
                    <div class="produto-quantidade">
                        <h3>{{item.name}}</h3>
                        <h6 class="quantidade">({{item.quantityCar}}x)</h6>
                    </div>
                    <p>{{item.additionalsString}}</p>
                </div>
    
                <div class="col-md-4 descricao-item">
                    <div class="produto-quantidade">
                        <h4>Valor:</h4>
                        <h4 style="margin-left: 5px;">R${{item.total.toFixed(2).replace('.',',')}}</h4>
                    </div>
                </div>
                <hr>
            </div>
    
        </div>
    
        <div class="container" style="margin-bottom: 32px;">
            <div class="row resumoPedido">
                <div class="col-md-8">
                    <div class="info-pedido">
                        <h6>Endereço Selecionado: </h6>
                        <h6 class="valor">{{stringAddress()}}</h6>
                    </div>
                    <div class="info-pedido">
                        <h6>Método de Pagamento: </h6>
                        <h6 class="valor">{{pagamentoSelecionado.description}}</h6>
                    </div>
                    <div class="info-pedido" *ngIf="pagamentoSelecionado.description === 'Dinheiro'">
                        <h6>Troco para: </h6>
                        <h6 class="valor">R${{valorDinheiro}}</h6>
                    </div>
                </div>
                <div class="col-md-4 valores">
                    <div class="valoress">
                        <h6>Valor Total:</h6>
                        <h6 class="valor">R${{totalPedido.toFixed(2).replace('.',',')}}</h6>
                    </div>
                </div>
            </div>
        </div>
    
        <form [formGroup]="ObservacaoForm">
            <div class="container">
                <div class="row">
                    <div class="col-6 finalizar-pedido">
                        <input class="form-control" type="text" placeholder="Observações" formControlName="description"
                            [(ngModel)]="observacao">
                    </div>
                    <div class="col-6 botao">
                        <button mat-flat-button color="primary" mat-dialog-close (click)="finalizarPedido()">Finalizar
                            Pedido</button>
                    </div>
                </div>
            </div>
        </form>
    </div>




    <div class="mobile">
        <div class=" cabecalho">
            <div class="titulo">
                <h1 class="confirmacao">Resumo</h1>
                <h2> | do pedido</h2>
            </div>
            <div class="fechar" style="margin-left: auto;">
                <button mat-icon-button color="warn" mat-dialog-close>
                    <mat-icon>close</mat-icon>
                </button>
            </div>
        </div>
    
        <div class="">
            <div class="row itens-mobile" *ngFor="let item of itensCarrinho">
                <div class="col-7 descricao-item">
                    <div class="produto-quantidade">
                        <h3>{{item.name}}</h3>
                        <h6 class="quantidade">({{item.quantityCar}}x)</h6>
                    </div>
                    
                </div>

    
                <div class="col-5 descricao-item">
                    <div class="produto-quantidade">
                        <h4>Valor:</h4>
                        <h4 style="margin-left: 5px;">R${{item.total.toFixed(2).replace('.',',')}}</h4>
                    </div>
                </div>
                
                <div class="row">
                    <div class="col-12" style="margin: 0; padding: 0;" *ngIf="item.additionalsString">
                        <p class="adicionais-mobile">{{item.additionalsString}}</p>
                    </div>
                </div>

                <hr style="margin-top: 10px;">
            </div>

            
    
        </div>
    
        <div class="" style="margin-bottom: 15px;">
            <div class="row resumoPedido">
                <div class="col-12">
                    <div class="info-pedido">
                        <h6>Endereço Selecionado:</h6>
                        <h6 class="valor">{{stringAddress()}}</h6>
                    </div>
                    <div class="info-pedido">
                        <h6>Método de Pagamento: </h6>
                        <h6 class="valor">{{pagamentoSelecionado.description}}</h6>
                    </div>
                    <div class="info-pedido" *ngIf="pagamentoSelecionado.description === 'Dinheiro'">
                        <h6>Troco para: </h6>
                        <h6 class="valor">R${{valorDinheiro}}</h6>
                    </div>
                </div>
                <div class="col-12 valores">
                    <div class="valoress">
                        <h6>Valor Total:</h6>
                        <h6 class="valor">R${{totalPedido.toFixed(2).replace('.',',')}}</h6>
                    </div>
                </div>
            </div>
        </div>
    
        <form [formGroup]="ObservacaoForm">
            <div class="">
                <div class="row">
                    <div class="col-12 finalizar-pedido">
                        <input class="form-control" type="text" placeholder="Observações" formControlName="description"
                            [(ngModel)]="observacao">
                    </div>
                    <div class="col-12 botao" style="padding-bottom: 5px;">
                        <button mat-flat-button color="primary" mat-dialog-close (click)="finalizarPedido()" class="botao-mobile">Finalizar
                            Pedido</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</body>