mat-form-field{
    width: 100%;
    margin-top: 10px;
}

.botao{
    display: flex;
    justify-content: center;
}

.example-h2 {
    margin: 10px;
  }
  
  .example-section {
    display: flex;
    align-content: center;
    align-items: center;
    height: 60px;
  }
  
  .example-margin {
    margin: 0 10px;
  }