body{
    width: 800px;
    max-height: 80vh;
    overflow-y :scroll;
}

mat-form-field{
    width: 100%;
}

.titulo{
    display: flex;
    justify-content: center;
}

.titulo h1{
    font-size: 2em;
}

.botoes{
    display: flex;
    justify-content: center;
    margin-top: 15px;
    padding-bottom: 15px;
}



h2{
    font-size: 1.2em;
    margin: 0;
    padding: 0;
}

.adicionais{
    display: flex;
    align-items: center;
}

