<div class="container">
  
  <div class="row">
    <div class="col-md-6">
      <label for="nome-produto" class="form-label">Nome da Empresa</label>
      <input formControlName="name" type="text" class="form-control" placeholder="Ex: Mc Donalds">
      <!--<div id="Nome" class="form-text">
            Your password must be 8-20 characters long, contain letters and numbers, and must not contain spaces, special characters, or emoji.
            </div>-->
    </div>
    <div class="col-md-6">
      <label for="descricao" class="form-label">Slogan da Empresa</label>
      <input formControlName="description" type="text" class="form-control" placeholder="Ex: Amo muito tudo isso">
      <div class="form-text">
        Um slogan deve ser uma frase curta que irá aparecer em baixo de sua logo. Então evite frases com mais de 06
        palavras
      </div>
    </div>
  </div>


  <div class="row">
    <div class="col-md-6">
      <label for="descricao" class="form-label">CNPJ</label>
      <input formControlName="description" type="text" class="form-control" placeholder="Ex: 69.411.320/0001-30">

    </div>
    <div class="col-md-6">
      <label for="quantidade" class="form-label">Endereço</label>
      <input formControlName="quantity" type="text" id="quantidadeProduto" class="form-control"
        placeholder="Ex: Rua Miguel Couto, 2395, Lourival Parente">
    </div>
  </div>


  <div class="row">
    <div class="col-md-6">
      <label for="preco-produto" class="form-label">Telefone</label>
      <input formControlName="price" type="text" class="form-control" placeholder="(86)9 9808-0092"
        aria-describedby="basic-addon1">
    </div>
    <div class="col-md-6">
      <label for="quantidade" class="form-label">Whatsapp</label>
      <input formControlName="quantity" type="text" id="quantidadeProduto" class="form-control"
        placeholder="Ex: (86)9 9808-0092">
    </div>
  </div>

  <hr>
  <div class="row">
    
      <label for="nome-produto" class="form-label">Dias de Funcionamento</label>
      <div class="checkbox">
        <div class="form-check">
          <input formControlName="availability" class="form-check-input" type="checkbox" value="true"
            id="flexCheckDefault">
          <label class="form-check-label" for="flexCheckDefault">
            Domingo</label>
        </div>
        <div class="form-check">
          <input formControlName="availability" class="form-check-input" type="checkbox" value="true"
            id="flexCheckDefault">
          <label class="form-check-label" for="flexCheckDefault">
            Segunda</label>
        </div>
        <div class="form-check">
          <input formControlName="availability" class="form-check-input" type="checkbox" value="true"
            id="flexCheckDefault">
          <label class="form-check-label" for="flexCheckDefault">
            Terça</label>
        </div>
        <div class="form-check">
          <input formControlName="availability" class="form-check-input" type="checkbox" value="true"
            id="flexCheckDefault">
          <label class="form-check-label" for="flexCheckDefault">
            Quarta</label>
        </div>
        <div class="form-check">
          <input formControlName="availability" class="form-check-input" type="checkbox" value="true"
            id="flexCheckDefault">
          <label class="form-check-label" for="flexCheckDefault">
            Quinta</label>
        </div>
        <div class="form-check">
          <input formControlName="availability" class="form-check-input" type="checkbox" value="true"
            id="flexCheckDefault">
          <label class="form-check-label" for="flexCheckDefault">
            Sexta</label>
        </div>
        <div class="form-check">
          <input formControlName="availability" class="form-check-input" type="checkbox" value="true"
            id="flexCheckDefault">
          <label class="form-check-label" for="flexCheckDefault">
            Sábado</label>
        </div>

      </div>
    
  </div>
  <hr>

  <div class="row">
    <div class="col-md-6">
      <label for="preco-produto" class="form-label">Link Whatsapp</label>
      <input formControlName="price" type="text" class="form-control"
        placeholder="https://api.whatsapp.com/send?phone=5586998080092" aria-describedby="basic-addon1">
    </div>
    <div class="col-md-6">
      <label for="quantidade" class="form-label">Link Google Maps</label>
      <input formControlName="quantity" type="text" id="quantidadeProduto" class="form-control"
        placeholder="Ex: https://goo.gl/maps/9Gmex5VxPYEnjZB5A">
    </div>
  </div>

  <div class="d-flex justify-content-center mt-4">
    <button class="btn btn-success" type="submit">Salvar</button>
  </div>


</div>