<div class="container">
  <form [formGroup]="infoEmpresaForm" (ngSubmit)="onSubmit()">
    <div class="row">
      <div class="col-md-6">
        <mat-form-field appearance="outline">
          <mat-label>Nome da Empresa</mat-label>
          <input matInput type="text" [(ngModel)]="empresa.name" formControlName="name" placeholder="Ex: Mc Donalds"
            maxlength="50">
          <mat-error *ngIf="infoEmpresaForm.controls.name.hasError('required')">
            Por favor insira um nome.
          </mat-error>
          <mat-error *ngIf="infoEmpresaForm.controls.name.hasError('minlength')">
            Por favor insira um nome com dois ou mais caracteres.
          </mat-error>
        </mat-form-field>

      </div>

      <div class="col-md-6">
        <mat-form-field appearance="outline">
          <mat-label>Slogan da Empresa</mat-label>
          <input matInput type="text" [(ngModel)]="empresa.slogan" formControlName="slogan"
            placeholder="Ex: Amo muito tudo isso" maxlength="50">
          <mat-error *ngIf="infoEmpresaForm.controls.slogan.hasError('required')">
            Por favor insira um slogan.
          </mat-error>
          <mat-error *ngIf="infoEmpresaForm.controls.slogan.hasError('minlength')">
            Por favor insira um nome com cinco ou mais caracteres.
          </mat-error>
        </mat-form-field>
        <!--<div class="form-text">
          Um slogan deve ser uma frase curta que irá aparecer em baixo de sua logo. Então evite frases com mais de 06
          palavras
        </div>-->
      </div>
    </div>

    <div class="row">
      <div class="col-md-6">
        <mat-form-field appearance="outline">
          <mat-label>CNPJ</mat-label>
          <input matInput type="text" [(ngModel)]="empresa.cnpj" formControlName="cnpj"
            placeholder="Ex: 69.411.320/0001-30" maxlength="20">
          <mat-error *ngIf="infoEmpresaForm.controls.cnpj.hasError('required')">
            Por favor insira um CNPJ.
          </mat-error>
        </mat-form-field>

      </div>
      <div class="col-md-6">
        <mat-form-field appearance="outline">
          <mat-label>Endereço</mat-label>
          <input matInput type="text" [(ngModel)]="empresa.address" formControlName="address"
            placeholder="Ex: Rua Miguel Couto, 2395, Lourival Parente" maxlength="50">
          <mat-error *ngIf="infoEmpresaForm.controls.address.hasError('required')">
            Por favor insira um Endereço.
          </mat-error>
          <mat-error *ngIf="infoEmpresaForm.controls.address.hasError('minlength')">
            Por favor insira um nome com dez ou mais caracteres.
          </mat-error>
        </mat-form-field>
      </div>

    </div>

    <div class="row">
      <div class="col-md-6">
        <mat-form-field appearance="outline">
          <mat-label>Telefone</mat-label>
          <input matInput type="text"  formControlName="telefone"
            placeholder="(XX)9 9999-9999" aria-describedby="basic-addon1" appOnlyNumbers maxlength="15">
        </mat-form-field>
      </div>
      <div class="col-md-6">
        <mat-form-field appearance="outline">
          <mat-label>Whatsapp</mat-label>
          <input matInput type="text" formControlName="whatsapp" placeholder="Ex: (XX)9 9999-9999"
            [ngModel]="empresa.whatsapp | phone" (ngModelChange)="empresa.whatsapp=$event" maxlength="15"
            appOnlyNumbers>
          <mat-error *ngIf="infoEmpresaForm.controls.whatsapp.hasError('required')">
            Por favor insira um número de Whatsapp.
          </mat-error>
          <mat-error *ngIf="infoEmpresaForm.controls.whatsapp.hasError('minlength')">
            Por favor insira um número válido.
          </mat-error>
          <mat-error *ngIf="infoEmpresaForm.controls.whatsapp.hasError('maxlength')">
            Por favor insira um número válido.
          </mat-error>
        </mat-form-field>
      </div>
    </div>

    <div class="row">
      <div class="col-6">
        <mat-form-field appearance="outline">
          <mat-label>Horário de Funcionamento</mat-label>
          <input matInput type="text" placeholder="09:00 às 16:00" aria-describedby="basic-addon1"
            [(ngModel)]="empresa.opening_hours" formControlName="opening_hours" maxlength="20">
          <mat-error *ngIf="infoEmpresaForm.controls.opening_hours.hasError('required')">
            Por favor insira um horário de funcionamento.
          </mat-error>
          <mat-error *ngIf="infoEmpresaForm.controls.opening_hours.hasError('minlength')">
            Por favor insira um horário de funcionamento com dez ou mais caracteres.
          </mat-error>
        </mat-form-field>
      </div>

      <div class="col-md-6">
        <mat-form-field appearance="outline">
          <mat-label for="quantidade">Valor mínimo de pedido</mat-label>
          <input matInput type="number" placeholder="Ex: R$10,00" [(ngModel)]="empresa.minValue"
            formControlName="minValue" maxlength="10">
          <mat-error *ngIf="infoEmpresaForm.controls.minValue.hasError('required')">
            Por favor insira um valor mínimo para pedido.
          </mat-error>
        </mat-form-field>
      </div>

      <div class="col-6">
        <mat-form-field appearance="outline">
          <mat-label for="quantidade">Link Google Maps</mat-label>
          <input matInput type="text" [(ngModel)]="empresa.linkGoogleMaps" formControlName="linkGoogleMaps"
            placeholder="Ex: https://goo.gl/maps/9Gmex5VxPYEnjZB5A" maxlength="50">
        </mat-form-field>
      </div>

      <div class="col-6">
        <h6>
          Estado do Estabelecimento
        </h6>
        <mat-radio-group aria-label="Select an option" formControlName="open" [(ngModel)]="empresa.open">
          <mat-radio-button [value]="true">Aberto</mat-radio-button>
          <mat-radio-button [value]="false">Fechado</mat-radio-button>
        </mat-radio-group>
      </div>

    </div>

    <hr>

    <div class="row">

      <div class="col-12">
        <div class="titulo-upload-imagem">
          <h2>Logo</h2>
        </div>
        <div class="dropzone-off" (dragover)="onDragOverEvent($event, 'isDraggingOverLogo')"
          (dragleave)="onDragLeaveEvent($event, 'isDraggingOverLogo')" [class.dropzone-on]="isDraggingOverLogo"
          (drop)="onDropEvent($event, 'existeIMagemLogo')">
          <span *ngIf="!existeIMagemLogo">Arraste sua imagem</span>
          <span *ngIf="existeIMagemLogo">{{imagensLogo[0].name}}</span>
        </div>
        <span class="orientacoes">*Tamanho máx: 1mb, Dimensões recomendadas: 800 x 800px</span>

      </div>

      <hr>

      <div class="col-12">
        <div class="titulo-upload-imagem">
          <h2>Banner 01</h2>
        </div>
        <div class="dropzone-off" (dragover)="onDragOverEvent($event, 'isDraggingOverBanner1')"
          (dragleave)="onDragLeaveEvent($event, 'isDraggingOverBanner1')" [class.dropzone-on]="isDraggingOverBanner1"
          (drop)="onDropEvent($event, 'existeIMagemBanner1')">
          <span *ngIf="!existeIMagemBanner1">Arraste sua imagem</span>
          <span *ngIf="existeIMagemBanner1">{{imagensBanner01[0].name}}</span>
        </div>
        <span class="orientacoes">*Tamanho máx: 1mb, Dimensões recomendadas: 1280 x 395px</span>
      </div>

      <hr>

      <div class="col-12">
        <div class="titulo-upload-imagem">
          <h2>Banner 02</h2>
        </div>
        <div class="dropzone-off" (dragover)="onDragOverEvent($event, 'isDraggingOverBanner2')"
          (dragleave)="onDragLeaveEvent($event, 'isDraggingOverBanner2')" [class.dropzone-on]="isDraggingOverBanner2"
          (drop)="onDropEvent($event, 'existeIMagemBanner2')">
          <span *ngIf="!existeIMagemBanner2">Arraste sua imagem</span>
          <span *ngIf="existeIMagemBanner2">{{imagensBanner02[0].name}}</span>
        </div>
        <span class="orientacoes">*Tamanho máx: 1mb, Dimensões recomendadas: 1280 x 395px</span>
      </div>
      
      <hr>


      <div class="col-12">
        <div class="titulo-upload-imagem">
          <h2>Banner 03</h2>
        </div>
        <div class="dropzone-off" (dragover)="onDragOverEvent($event, 'isDraggingOverBanner3')"
          (dragleave)="onDragLeaveEvent($event, 'isDraggingOverBanner3')" [class.dropzone-on]="isDraggingOverBanner3"
          (drop)="onDropEvent($event, 'existeIMagemBanner3')">
          <span *ngIf="!existeIMagemBanner3">Arraste sua imagem</span>
          <span *ngIf="existeIMagemBanner3">{{imagensBanner03[0].name}}</span>
        </div>
        <span class="orientacoes">*Tamanho máx: 1mb, Dimensões recomendadas: 1280 x 395px</span>
      </div>

      <hr>

      <div class="col-12">
        <div class="titulo-upload-imagem">
          <h2>Background</h2>
          <mat-icon *ngIf="empresa.backgroundPath" color="warn" (click)="openDialogDeleteBanner()">delete</mat-icon>
        </div>
        <div class="dropzone-off" (dragover)="onDragOverEvent($event, 'isDraggingOverBackground')"
          (dragleave)="onDragLeaveEvent($event, 'isDraggingOverBackground')"
          [class.dropzone-on]="isDraggingOverBackground" (drop)="onDropEvent($event, 'existeIMagemBackground')">
          <span *ngIf="!existeIMagemBackground">Arraste sua imagem</span>
          <span *ngIf="existeIMagemBackground">{{imagensBackground[0].name}}</span>
        </div>
        <span class="orientacoes">*Tamanho máx: 1mb, Dimensões recomendadas: 1920 x 1080px</span>
      </div>

    </div>
    <hr>


    <div class="d-flex justify-content-center mt-4" style="padding-bottom: 15px;">
      <button class="btn btn-primary" [disabled]="!infoEmpresaForm.valid" type="submit">Salvar</button>
    </div>

  </form>
</div>