
<div class="container container-cards">
    <mat-card class="categorias">
        <mat-card-title>
            Hambúrguer
        </mat-card-title>
        <mat-card-content>
            <div class="d-flex">
                <p>
                    Produtos: <span>10</span>
                </p>
                <a>
                    <mat-icon style="margin-left: 15px;">edit</mat-icon>
                </a>
    
                <a>
                    <mat-icon>delete</mat-icon>
                </a>
            </div>
        </mat-card-content>
    </mat-card>

    <mat-card class="categorias">
        <mat-card-title>
            Refrigerante
        </mat-card-title>
        <mat-card-content>
            <div class="d-flex">
                <p>
                    Produtos: <span>10</span>
                </p>
                <a>
                    <mat-icon style="margin-left: 15px;">edit</mat-icon>
                </a>
    
                <a>
                    <mat-icon>delete</mat-icon>
                </a>
            </div>
        </mat-card-content>
    </mat-card>

    <mat-card class="categorias">
        <mat-card-title>
            Pastel
        </mat-card-title>
        <mat-card-content>
            <div class="d-flex">
                <p>
                    Produtos: <span>10</span>
                </p>
                <a>
                    <mat-icon style="margin-left: 15px;">edit</mat-icon>
                </a>
    
                <a>
                    <mat-icon>delete</mat-icon>
                </a>
            </div>
        </mat-card-content>
    </mat-card>

    <mat-card class="categorias">
        <mat-card-title>
            Pizza
        </mat-card-title>
        <mat-card-content>
            <div class="d-flex">
                <p>
                    Produtos: <span>10</span>
                </p>
                <a>
                    <mat-icon style="margin-left: 15px;">edit</mat-icon>
                </a>
    
                <a>
                    <mat-icon>delete</mat-icon>
                </a>
            </div>
        </mat-card-content>
    </mat-card>

    <mat-card class="categorias">
        <mat-card-title>
            Suco
        </mat-card-title>
        <mat-card-content>
            <div class="d-flex">
                <p>
                    Produtos: <span>10</span>
                </p>
                <a>
                    <mat-icon style="margin-left: 15px;">edit</mat-icon>
                </a>
    
                <a>
                    <mat-icon>delete</mat-icon>
                </a>
            </div>
        </mat-card-content>
    </mat-card>

    <mat-card class="categorias">
        <mat-card-title>
            Cachorro Quente
        </mat-card-title>
        <mat-card-content>
            <div class="d-flex">
                <p>
                    Produtos: <span>10</span>
                </p>
                <a>
                    <mat-icon style="margin-left: 15px;">edit</mat-icon>
                </a>
    
                <a>
                    <mat-icon>delete</mat-icon>
                </a>
            </div>
        </mat-card-content>
    </mat-card>
    
          
</div>



<div class="container">
    
    <hr>

    <h1>Nova Categoria</h1>

    <div class="row">
        <div class="col-md-6">
            <label for="nome-produto" class="form-label">Nome da Categoria</label>
            <div class="d-flex">
            <input formControlName="name" type="text" class="form-control" placeholder="Ex: Hambúrguer">
            <button class="btn btn-primary">Salvar</button>
            </div>
        </div>
      

    </div>
</div>

<div class="container">
    
    <hr>

    <h1>Editar Categoria</h1>

    <div class="row">
        <div class="col-md-6">
            <label for="nome-produto" class="form-label">Selecione a Categoria</label>
            <select class="form-select" aria-label="Default select example">
                <option selected>Categorias</option>
                <option value="1">Hambúrguer</option>
                <option value="2">Pastél</option>
                <option value="3">Refrigerante</option>
              </select>
        </div>
        <div class="col-md-6">
            <label for="nome-produto" class="form-label">Novo Nome</label>
            <div class="d-flex">
            <input formControlName="name" type="text" class="form-control" placeholder="Ex: Hambúrguer">
            <button class="btn btn-primary">Salvar</button>
            </div>
        </div>
      

    </div>
</div>

