<div class="container">

    <section class="menu">
        <div class="select-lista-pedidos">
            <mat-form-field  appearance="outline" style="margin-right: 10px;">
                <mat-label>Pesquise por um produto</mat-label>
                <input matInput placeholder="Ex. Hambúrguer" [formControl]="pesquisaName">
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label>Filtro</mat-label>
                <mat-select>
                    <mat-option value="0" (click)="getProducts()">Todos os Produtos</mat-option>
                    <mat-option value="0" *ngFor="let categoria of categorias"
                        (click)="filtroProdutos(categoria.description)">{{categoria.description}}</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
    </section>

    <div class="all-products">
        <mat-card class="produto" *ngFor="let produto of products">
            <div class="row">
                <div class="col-md-4 flex">
                    <img class="img-produto" src="../../assets/img/Figura-Hamburguer-PNG-1280x720.png"
                        (click)="openDialogInfo(produto)" style="cursor: pointer;">
                </div>
                <div class="col-md-8">
                    <h2 (click)="openDialogInfo(produto)" style="cursor: pointer;">{{produto.name.substring(0,14)}}<span
                            style="color: black; margin-left: 0; padding-left: 0;"
                            *ngIf="produto.description.length > 20">...</span></h2>
                    <p>{{produto.description.substring(0,35)}}<span
                            style="color: black; margin-left: 0; padding-left: 0;"
                            *ngIf="produto.description.length > 35">...</span>
                    </p>
                    <div class="d-flex">
                        <p class="preco">
                            Preço: <span>R${{produto.price.toFixed(2).replace('.',',')}}</span>

                        </p>
                        <div class="botoes">
                            <button mat-icon-button color="primary" style="margin-left: 5px; width: 30px; height: 30px;"
                                (click)="edit(produto)">
                                <mat-icon>edit</mat-icon>
                            </button>
                            <button mat-icon-button color="warn" style="margin-left: 5px; width: 30px; height: 30px;"
                                (click)="openDialog(produto.id)">
                                <mat-icon>delete</mat-icon>
                            </button>
                        </div>
                    </div>
                </div>
            </div>

        </mat-card>
    </div>

</div>



<!-- <hr>
    <form [formGroup]="editProductForm" (ngSubmit)="onSubmit()">
        <div class="row">
            <div class="col-md-6">
                <mat-form-field appearance="outline">
                    <mat-label for="nome-produto">Nome do Produto</mat-label>
                    <input matInput [(ngModel)]="product.name" formControlName="name" type="text"
                        placeholder="Ex: Hambúrguer">
                    <mat-error *ngIf="editProductForm.controls.name.hasError('required')">
                        Por favor insira um nome.
                    </mat-error>
                    <mat-error *ngIf="editProductForm.controls.name.hasError('minlength')">
                        Por favor insira um nome com dois ou mais caracteres.
                    </mat-error>
                </mat-form-field>
            </div>
            <div class="col-md-6">
                <mat-form-field appearance="outline">
                    <mat-label for="descricao">Descrição do produto</mat-label>
                    <input matInput [(ngModel)]="product.description" formControlName="description" type="text"
                        placeholder="Ex: Carne, queijo, ovo, alface e tomate">
                    <mat-error *ngIf="editProductForm.controls.description.hasError('required')">
                        Por favor insira uma descrição.
                    </mat-error>
                    <mat-error *ngIf="editProductForm.controls.description.hasError('minlength')">
                        Sua descrição deve conter pelo menos 04 caracteres.
                    </mat-error>
                </mat-form-field>
            </div>
        </div>


        <div class="row">
            <div class="col-md-6">
                <mat-form-field appearance="outline">
                    <mat-label>Escolha uma Categoria</mat-label>
                    <mat-select [(ngModel)]="product.category" formControlName="category">
                        <mat-option *ngFor="let categoria of categorias" [value]="categoria">{{categoria.description}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>

            </div>
            <div class="col-md-6">
                <mat-form-field appearance="outline">
                    <mat-label for="quantidade">Quantidade no estoque</mat-label>
                    <input matInput [(ngModel)]="product.quantity" formControlName="quantity" type="number"
                        id="quantidadeProduto" placeholder="Ex: 25">
                    <mat-error *ngIf="editProductForm.controls.quantity.hasError('required')">
                        Deve haver pelo menos 01 item no estoque.
                    </mat-error>
                    <mat-error *ngIf="editProductForm.controls.quantity.hasError('min')">
                        Deve haver pelo menos 01 item no estoque.
                    </mat-error>
                </mat-form-field>
            </div>
        </div>


        <div class="row">
            <div class="col-md-6">
                <mat-form-field appearance="outline">
                    <mat-label for="preco-produto" class="form-label">Preço</mat-label>
                    <input matInput [(ngModel)]="product.price" formControlName="price" type="number" placeholder="0,00"
                        aria-describedby="basic-addon1">
                    <mat-error *ngIf="editProductForm.controls.price.hasError('required')">
                        Seu produto deve ter o valor minímo de R$1,00.
                    </mat-error>
                    <mat-error *ngIf="editProductForm.controls.price.hasError('min')">
                        Seu produto deve ter o valor minímo de R$1,00.
                    </mat-error>
                </mat-form-field>



            </div>
            <div class="col-md-6">
                <label for="nome-produto" style="margin-top: 25px;" class="form-label">Disponibilidade</label>
                <div class="form-check">
                    <input [(ngModel)]="product.availability" formControlName="availability" class="form-check-input"
                        type="checkbox" value="true" id="flexCheckDefault">
                    <label class="form-check-label" for="flexCheckDefault">
                        Disponível no estoque
                    </label>
                </div>
            </div>
        </div>

        <div class="d-flex justify-content-center mt-2">
            <button class="btn btn-primary" type="submit" [disabled]="!editProductForm.valid">Salvar</button>
        </div>

    </form> -->