
body{
    overflow: hidden;
    background: url(../../assets/img/BackgroundTheliveryWhite.jpg) no-repeat fixed;
    background-size: cover;
}

#carousel {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 15px;

}

#carouselExampleIndicators {
    width: 100%;
    height: 400px;
    background-color: brown;
}

.carousel-item {
    border-radius: 20px;
}

img {
    width: 100%;
    height: 400px;
}

#cardapio{
    background: white;
    margin-top: 15px;
    display: flex;
    overflow: auto;
    flex-wrap: wrap;
    padding: 0;
    
}

.titulo-produto{
    cursor: pointer;
}

#carrinho{
    margin-top: 15px;
    margin-left: auto;
    height: auto;
}

.campo-opcoes-pedido{
    background: black;
}

.produtos{
    display: flex;
    direction: row;
    flex-wrap: wrap;
}
.campo-pedido{
    background: blanchedalmond;
    margin-bottom: 5px;
    padding: 5px 0px;
}

.opcoes-pedido{
    background: black;
    margin-bottom:0px;
    padding-bottom: 0;
    margin-top: 0;
}

.titulo-opcoes{
    color: white;
    margin-top: 5px;
}

.finalizar-pedido{
    background-color: none;
    color: white;
    border: solid 1px white;
    border-radius: 10px;
    margin-bottom: 8px;
}

.finalizar-pedido:hover{
    background-color: white;
    color: black;
    border: solid 1px black;
    border-radius: 10px;
    margin-bottom: 8px;
    transition: 1s;
    
}

.link-endereco{
    color: white;
    transition: 0.4s;
}

.navbar-collapse a{
    margin-left: auto;
}


.link-endereco:hover{
    color: #6495ED;
    transition: 0.4s;
}

.opcao-selecionada{
    color: white;
    margin-top: 0;
    padding-left: 24px;
    font-size: 0.8em;
    padding-bottom: 8px;
}

.opcoes-endereco-pagamento{
    margin-left: auto;
}

.dropdown-menu-white{
    font-size: 0.7em;
}

.infos-home{
    background: black;
    padding: 20px 20px;
}

#infos-home{
    margin-top: 15px;
}

.titulo-infos{
    color: white;
    margin: 0px 0px 0px 5px;
    padding: 0;
    font-size: 1em;
}

.estado-estabelecimento{
    display: flex;
    flex-direction: column;
}
.estado-estabelecimento p{
    margin: 0;
    padding: 0;
    color: #d3d3d3;
    font-size: 0.8em;
    margin-left: 29px;
}

.icon-open{
    color: green;

}

#cardapio h4, h5, p{
    padding-left: 5%;
}

#cardapio h5{
    color: red;
    font-size: 1em;
    margin-top: 2%;
}

#cardapio p{
    width: 100%;
}

.produto{
    margin: 15px 10px;
    width: 45%;
}

.produto p{
    width: 50%;
    font-size: 0.7em;
    height: 50%;
    padding-bottom: 0;
    margin-bottom: 0;
}

.img-produto{
    width: 100px;
    height: 100px;
    margin-left: 0px;
    padding-left: 0px;
}

.cor-verde{
    color: black;
}



#links-produto{
    display: flex;
    align-items: center;
}

#links-produto a{
    text-decoration: none;
    color: #191970;
    padding-left: 5%;
    margin-right: 5%;
    font-size: 0.8em;
    
}

#links-produto h5{
    margin-right: 15%;
    margin-top: 5%;
    
}

.linha{
    background: rgba(0,0,0,0.1);
    height: 1px;
    padding-left: 5%;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 5%;
}

.row{
    margin: 0;
}

#navbar-cardapio{
    display: flex;
    align-items: center;
    background: black;
    width: 100%;
    padding: 10px 0px;
    height: 60px;
    margin-bottom: 5px;
}

.link-categoria{
    padding: 0;
}

.btn-outline-white{
    border-radius: 10px;
    border: 1px solid white;
    color: white;
}

#navbarDropdown{
    color: white;
}

.navbar-toggler h3{
    color: turquoise;
}

.cursor{
    cursor: pointer;
}

#titulo-menu-cardapio{
    color: white;
    font-size: 0.9em;
    padding: 0;
    margin-left: 10px;

}

button.navbar-toggler{
    padding: 0;
    margin-top: 10px;
}

.carrinho{
    background: white;
    padding: 18px 34px;
}

.item-carrinho{
    align-items: center;
}

.nome-produto-carrinho{

    margin: 0;
    padding: 0;
}

.titulo-carrinho{
    margin-left: 5px;
    color: black;
}

.icone-carrinho{
    margin-bottom: 5px;
    padding: 0;
    color: black;
}

.itens-carrinho{
    list-style: none;
    margin: 0px;
    padding: 0px;
}

.quantidade-produto{
    margin-left: 8px;
    font-size: 0.8em;
    margin-top: 10px;
}

.nome-produto{
    margin-top: 6px;
}

.preco-produto-carrinho{
    margin-left: 0;
    padding: 0;
}

.botoes-produto-carrinho{
    display: flex;
    justify-content: center;
    align-items: center;
}

.botoes-produto-carrinho a{
    cursor: pointer;
}

.divisor-carrinho{
    height: 0.8px;
}

.total-produto{
    color: red;
}

.preco-total-carrinho{
    margin-left: auto;
}

#carrinho-mobile{
    background-color: black;
    padding: 10px 20px;
    width: 100%;
}

.icone-carrinho-mobile{
    color: white;
}

.preco-final-carrinho-mobile{
    color: white;
    text-decoration: white;
    cursor: pointer;
}

#div-opcoes-carrinho{
    padding: 0; 
    padding-left: 15px;
}

html{
    height: 100%;
}
body{
    font-family: Helvetica, Arial, sans-serif;
    width: 100%;

}

/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 377px) {
    
    #carouselExampleIndicators{
        width: 600px;
        height: 150px;
        margin-top: 97px;
    }

    img {
        width: 60px;
        height: 150px;
    }
    
    .mat-icon-button{
        width: 25px;
        margin-left: auto;
    }

    .navbar-cardapio{
        padding: 0;
    }

    .link-categoria{
        font-size: 1em;
        margin-top: 7px;
    } 

    .busca{
        width: 150px;
        margin: 0px 10px;
    }

    .btn-busca{
        padding: .25rem .5rem;
        font-size: .875rem;
        margin-right: 12px;

    }

    .infos-home{
        background: black;
        padding: 15px 8px;
    }

    .v-mobile-infos{
        display: flex;
        flex-direction: column;
    }

    .v-desktop-infos{
        display: none;
    } 
    
    .produtos{
        display: none;
    }

    .opcoes-endereco-pagamento{
        margin-left: 5px;
    }

    .opcoes-endereco-pagamento{
        width: 40%;
        margin-left:auto;
    }

    .v-md{
        display: none;
    }

    #div-opcoes-carrinho {
        display: none;
     }

     app-footer{
         display: none;
     }

     .vazio{
         display: none;
     }

     #navbar-cardapio{
         margin-bottom: 0;
     }

     .titulo-infos{
        font-size: 1em;
    }

    .estado-estabelecimento p{
        margin: 0;
        padding: 0;
        color: #d3d3d3;
        font-size: 0.8em;
        margin-left: 29px;
    }
     /*Produtos mobile*/ 
     
     .produtos-mobile{
        width: 100%;
     }

     mat-card{
         width: 100%;
         display: flex;
         flex-direction: row;
         margin-bottom: 10px;
     }

     .img-produto-mobile{
        width: 80px;
        height: 80px;
     }

     .infos-produto-mobile{
         margin-left: 0;
         padding-left: 0;
         display: flex;
     }
     
     .nome-produto-mobile{
        font-size: 1em;
        margin: 0;
        padding: 0px;
    }

    #cardapio h4{
        padding: 0;
    }

    .detalhes-produto{
        display: flex;
        flex-direction: column;
    }

    .infos-produto-mobile p{
        font-size: 0.8em;
        margin: 0;
        padding: 0px;
    }

    .preco-produto-mobile{
        color: red;
    }

    .div-nome-produto-mobile{
        height: 20%;
    }

    .div-preco-produto-mobile{
        height: 50%;
    }

    .preco-botoes-mobile{
        display: flex;
        flex-direction: row;
        margin-top: auto;
    }

    .div-descricao-produto-mobile{
        margin-top: 5px;
        margin-bottom: 5px;
    }
     /*Produtos mobile*/
}

/* personalizado */
@media (min-width: 378px) and (max-width: 575px) {

    #carouselExampleIndicators{
        width: 100%;
        height: 170px;
        margin-top: 97px;
    }

    img {
        width: 100%;
        height: 170px;
    }

     /* Formatação card produto */
     .produto{
        margin: 15px 10px;
        width: 100%;
    }
    
    .produto p{
        font-size: 1em;

    }

    .produto h4{
        font-size: 1.6em;
    }
    
    .img-produto{
        width: 140px;
        height: 140px;
        margin-left: 35%;
        padding-left: 0px;
    }

    #links-produto h5{
        margin-right: 55px;
        font-size: 1.4em;
        margin-top: 5px; 
    }

    .mat-icon-button{
        width: 40px;
        margin-left: auto;
    }

    /* Formatação card produto */

    .opcoes-endereco-pagamento{
        width: 40%;
        margin-left:auto;

    }
    .v-md{
        display: none;
    }
    #div-opcoes-carrinho {
       display: none;
    }

    .v-desktop-infos{
        display: none;
    }

    .produtos{
        display: none;
    }

    /*Produtos mobile*/ 
     
    .produtos-mobile{
        width: 100%;
     }

     mat-card{
         width: 100%;
         display: flex;
         flex-direction: row;
         margin-bottom: 10px;
     }

     .img-produto-mobile{
        width: 80px;
        height: 80px;
     }

     .infos-produto-mobile{
         margin-left: 0;
         padding-left: 0;
         display: flex;
     }
     
     .nome-produto-mobile{
        font-size: 1em;
        margin: 0;
        padding: 0px;
    }

    #cardapio h4{
        padding: 0;
    }

    .detalhes-produto{
        display: flex;
        flex-direction: column;
    }

    .infos-produto-mobile p{
        font-size: 0.8em;
        margin: 0;
        padding: 0px;
    }

    .preco-produto-mobile{
        color: red;
    }

    .div-nome-produto-mobile{
        height: 20%;
    }

    .div-preco-produto-mobile{
        height: 50%;
    }

    .preco-botoes-mobile{
        display: flex;
        flex-direction: row;
        margin-top: auto;
    }

    .div-descricao-produto-mobile{
        margin-top: 5px;
        margin-bottom: 5px;
    }
     /*Produtos mobile*/
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {

    #carouselExampleIndicators{
        width: 600px;
        height: 200px;
        margin-top: 97px;
    }

    img {
        width: 60px;
        height: 200px;
    }

     /* Formatação card produto */
     .produto{
        margin: 15px 10px;
        width: 45%;
    }
    
    .produto p{
        font-size: 0.7em;

    }

    .produto h4{
        font-size: 1.6em;
    }
    
    .img-produto{
        width: 100px;
        height: 100px;
        margin-left: 50px;
        padding-left: 0px;
    }

    #links-produto h5{
        margin-right: 20px;
        font-size: 1em;
    }

    .mat-icon-button{
        width: 25px;
        margin-left: 10px;
    }

    /* Formatação card produto */

    .opcoes-endereco-pagamento{
        width: 40%;
        margin-left:auto;

    }

    .v-md{
        display: none;
    }

    #div-opcoes-carrinho {
        display: none;
     }

     .produtos-mobile{
        display: none;
    }

    .v-desktop-infos{
        display: none;
    }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {

    #carouselExampleIndicators{
        width: 100%;
        height: 200px;
    }

    img {
        width: 600px;
        height: 200px;
    }

    /* Formatação card produto */

    .produto{
        margin: 5px 1%;
        width: 48%;
    }
    
    .produto p{
        font-size: 0.6em;
    }

    .produto h4{
        font-size: 1em;
    }

    .img-produto{
        width: 70px;
        height: 70px;
        margin-left: 0px;
        padding-left: 0px;
    }

    #links-produto h5{
        margin: 0px;
        font-size: 0.8em;
    }

    .mat-icon-button mat-icon{ 
        font-size: 20px;
        
    }

    .mat-icon-button{
        width: 20px;
        margin-left: 3px;
    }


    #links-produto{
        display: flex;
        align-items: center;
    }

    /* Formatação card produto */

    #carrinho-mobile{
        display: none;
    }

    .titulo-opcoes{
        color: white;
        margin-top: 5px;
        font-size: 0.9em;
    }

    .link-endereco{
        font-size: 0.7em;
    }

    .nome-produto{
        margin-top: 8px;
        font-size: 0.9em;
    }

    .v-mobile-infos{
        display: none;
    }

    .produtos-mobile{
        display: none;
    }

    .finalizar-pedido{
        font-size: 0.7em;
    }

    .nome-produto{
        font-size: 0.7em;
    }

    .preco-produto-carrinho{
        font-size: 11.2px;
    }

    .quantidade-produto{
        font-size: 11.2px;
    }

    .botao-carrinho{
        font-size: 18px;
    }

    #botao-delete-carrinho-md{
        margin-right: 10px;
        padding-right: 10px;
    }

    .carrinho{
        padding: 10px;
    }

    .nome-produto-carrinho{
        margin-bottom: 5px;
    }

    .botoes-produto-carrinho{
        padding: 0;
    }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {
    

    .produto{
        margin: 15px 2.5%;
        width: 45%;
    }
    
    .produto p{
        font-size: 0.6em;

    }
    .img-produto{
        width: 85px;
        height: 85px;
        margin-left: 0px;
        padding-left: 0px;
    }

    #links-produto h5{
        margin-right: 4px;
        font-size: 0.9em;
        
    }

    #carrinho-mobile{
        display: none;
    }

    .v-md{
        display: none;
    }

    .v-mobile-infos{
        display: none;
    }

    .produtos-mobile{
        display: none;
    }

    .nome-produto{
        font-size: 0.8em;
    }

    .quantidade-produto{
        font-size: 0.8em;
    }

    .preco-produto-carrinho{
        font-size: 12.8px;
    }

    .botao-carrinho{
        font-size: 20px;
    }

    .botoes-produto-carrinho{
        padding-top: 5px;
    }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    #carrinho-mobile{
        display: none;
    }

    .v-md{
        display: none;
    }

    .produto{
        margin: 15px 2.5%;
        width: 45%;
    }

    .v-mobile-infos{
        display: none;
    }

    .produtos-mobile{
        display: none;
    }

}


