<body>

  <app-header></app-header>

  <div class="container" id="carousel">
    <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
          aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
          aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
          aria-label="Slide 3"></button>
      </div>
      <div class="carousel-inner center-block">
        <div class="carousel-item active">
          <img src="../../assets/img/carrossel4.jpeg" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
          <img src="../../assets/img/carrossel5.jpeg" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
          <img src="../../assets/img/carrossel3.jpeg" class="d-flex w-100" alt="...">
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
        data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
        data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </div>

  <div class="container" id="infos-home">
    <div class="row infos-home">
      <div class="col-6">
        <div class="estado-estabelecimento">
          <div class="d-flex align-items-center">
            <mat-icon class="icon-open">circle</mat-icon>
            <h5 class="titulo-infos">ABERTO</h5>
          </div>
          <p>Faça seu Pedido</p>
        </div>
      </div>
      <div class="col-6">
        <div class="estado-estabelecimento">
          <div class="d-flex align-items-center">
            <mat-icon class="icon-open">shopping_bag</mat-icon>
            <h5 class="titulo-infos">PEDIDO #{{ultimoPedido.id}}</h5>
          </div>
          <p class="v-desktop-infos">{{ultimoPedido.status.description}} ( Previsão de entrega: 20h30 )</p>
          <div class="v-mobile-infos">
            <p>{{ultimoPedido.status.description}}</p>
            <!-- <p>Entrega: 20h30</p> -->

          </div>
        </div>
      </div>
    </div>
  </div>

  <section class="d-flex">
    <div class="container">
      <div class="row">
        <div class="col-md-8 d-flex" id="cardapio">


          <nav class="navbar navbar-expand navbar-light" id="navbar-cardapio">
            <div class="container-fluid navbar-cardapio">
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <div class="d-flex">
                  <i class="fas fa-bars text-white"></i>
                  <h2 id="titulo-menu-cardapio"> Menu</h2>
                </div>

              </button>
              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle link-categoria" href="#" id="navbarDropdown" role="button"
                      data-bs-toggle="dropdown" aria-expanded="false">
                      Categoria
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                      <li *ngFor="let categoria of categorias"><a class="dropdown-item cursor"
                          (click)="selectCategoria(categoria.description)">{{categoria.description}}</a></li>
                      <li>
                        <hr class="dropdown-divider">
                      </li>
                      <li><a class="dropdown-item cursor" (click)="getProducts()">Todos os Produtos</a></li>
                    </ul>
                  </li>
                </ul>


                <div class="d-flex">
                  <input class="form-control me-2 busca" [formControl]="pesquisaName" [(ngModel)]="buscaNome"
                    placeholder="Procure um produto">
                  <button class="btn btn-outline-white btn-busca" (click)="buscaName()">Procurar</button>
                </div>


              </div>
            </div>
          </nav>

          <div class="container produtos">
            <mat-card class="produto" *ngFor="let produto of products">
              <div class="row" style="margin: 0;">
                <div class="col-md-8" style="padding: 0;">
                  <h4 class="titulo-produto" (click)="openDialog(produto)">{{produto.name}}</h4>
                  <div>
                    <p>{{produto.description}}</p>
                  </div>

                  <div class="linha"></div>

                  <div id="links-produto">
                    <h5>R$ {{produto.price.toFixed(2)}}</h5>
                    <button mat-icon-button class="cor-verde" (click)="addItem(produto)">
                      <mat-icon>add</mat-icon>
                    </button>

                    <button mat-icon-button color="warn" (click)="removeItem(produto)">
                      <mat-icon id="botao-delete">delete</mat-icon>
                    </button>
                  </div>

                </div>
                <div class="col-md-4" style="padding: 0;">
                  <img src="../../assets/img/Figura-Hamburguer-PNG-1280x720.png" class="img-produto titulo-produto"
                    (click)="openDialog(produto)">
                </div>
              </div>
            </mat-card>
          </div>
          <div class="vazio">⠀⠀⠀⠀⠀⠀⠀⠀⠀</div> <!-- Caracter invisivel para correção de bug no home com apenas um produto ou menos para exibição-->

          <div class="produtos-mobile">
            <mat-card class="produto-mobile" *ngFor="let produto of products">
             
                <div class="row " style="width:100%">

                  <div class="col-8 infos-produto-mobile">
                    <div class="detalhes-produto">
                      <div class="div-nome-produto-mobile">
                        <h4 class="nome-produto-mobile" (click)="openDialog(produto)">{{produto.name}}</h4>
                      </div>
                      <div class= "div-descricao-produto-mobile">
                        <p>{{produto.description}}</p>
                      </div>
                      <div class="preco-botoes-mobile">
                        <span class="preco-produto-mobile">R${{produto.price.toFixed(2)}}</span>
                        <div class="botoes-carrinho-mobile">
                          <mat-icon style="margin-left: 25px;" (click)="addItem(produto)">add</mat-icon> 
                          <mat-icon style="margin-left: 20px; color: red;" (click)="removeItem(produto)">delete</mat-icon>
                        </div>
                      </div>
                    </div>
                  </div>
  
                  <div class="col-4 d-flex align-items-center">
                    <img class="img-produto-mobile" src="../../assets/img/Figura-Hamburguer-PNG-1280x720.png" (click)="openDialog(produto)">
                  </div>
  
                </div>
              
            </mat-card>
          </div>

        </div>

        <div class="col-md-4" id="div-opcoes-carrinho">
          <div id="carrinho">

            <div class="campo-opcoes-pedido">
              <div>
                <nav class="navbar navbar-expand opcoes-pedido">
                  <div class="container-fluid" style="padding-bottom:0">
                    <h4 class="navbar-brand titulo-opcoes" href="#">Entrega</h4>
                    <div class="collapse navbar-collapse" id="navbarNavDarkDropdown">
                      <div class="opcoes-endereco-pagamento">
                        <ul class="navbar-nav">
                          <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle link-endereco" href="#" id="navbarDarkDropdownMenuLink"
                              role="button" data-bs-toggle="dropdown" aria-expanded="false">
                              Endereço
                            </a>
                            <ul class="dropdown-menu dropdown-menu-white" aria-labelledby="navbarDarkDropdownMenuLink">
                              <li *ngFor="let endereco of enderecosCadastrados"><a class="dropdown-item"
                                  (click)="alterarEndereco(endereco)">{{endereco.street}},
                                  {{endereco.number}}, {{endereco.neighborhood.name}}</a></li>
                              <li>
                                <hr class="dropdown-divider">
                              </li>
                              <li><a class="dropdown-item" [routerLink]="['/novoEndereco']">Novo Endereço</a></li>
                            </ul>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </nav>
              </div>
              <p class="opcao-selecionada" *ngIf="enderecoSelecionado != null">{{enderecoSelecionado.street}},
                {{enderecoSelecionado.number}}, {{enderecoSelecionado.neighborhood.name}}</p>
            </div>


            <div class="carrinho d-none d-lg-block">
              <div class="d-flex align-items-center">
                <mat-icon class="icone-carrinho">shopping_cart</mat-icon>
                <h4 class="navbar-brand titulo-carrinho">Carrinho</h4>
              </div>
              <ul class="itens-carrinho">
                <li *ngFor="let item of itensCarrinho">

                  <div class="row item-carrinho">
                    <div class="col-5 nome-produto-carrinho">
                      <span class="nome-produto">{{item.name}}</span>
                      <span class="quantidade-produto">{{item.quantityCar}}x</span>
                    </div>

                    <div class="col-4 botoes-produto-carrinho">
                      <a class="cor-verde botao-carrinho" (click)="addItem(item)">
                        <mat-icon class="botao-carrinho">add</mat-icon>
                      </a>
                      <a (click)="removeItem(item)" style="margin-left: 10px;">
                        <mat-icon class="botao-carrinho" color="warn">delete</mat-icon>
                      </a>
                    </div>


                    <div class="col-3 preco-produto-carrinho">
                      <span class="preco-produto-carrinho">R${{item.total.toFixed(2)}}</span>
                    </div>

                  </div>
                  <hr class="divisor-carrinho">
                </li>



                <li>
                  <div class="d-flex">
                    <span>FRETE</span>

                    <div class="preco-total-carrinho">
                      <span>R${{frete.toFixed(2)}}</span>
                    </div>
                  </div>
                </li>

                <li>
                  <div class="d-flex">
                    <span class="total-produto">TOTAL</span>

                    <div class="preco-total-carrinho">
                      <span>R${{totalPedido.toFixed(2)}}</span>
                    </div>
                  </div>
                </li>

              </ul>
            </div>

            <div class="carrinho v-md">
              <div class="d-flex align-items-center">
                <mat-icon class="icone-carrinho">shopping_cart</mat-icon>
                <h4 class="navbar-brand titulo-carrinho">Carrinho</h4>
              </div>
              <ul class="itens-carrinho">
                <li *ngFor="let item of itensCarrinho">

                  <div class="row item-carrinho">
                    <div class="col-6 nome-produto-carrinho">
                      <span class="nome-produto">{{item.name}}</span>
                      <span class="quantidade-produto">{{item.quantityCar}}x</span>
                    </div>

                    <div class="col-3 botoes-produto-carrinho">
                      <a class="cor-verde botao-carrinho" (click)="addItem(item)">
                        <mat-icon class="botao-carrinho">add</mat-icon>
                      </a>
                      <a (click)="removeItem(item)" style="margin-left: 10px;">
                        <mat-icon class="botao-carrinho" id="botao-delete-carrinho-md" color="warn">delete</mat-icon>
                      </a>
                    </div>


                    <div class="col-3 preco-produto-carrinho">
                      <span class="preco-produto-carrinho">R${{item.total.toFixed(2)}}</span>
                    </div>

                  </div>
                  <hr class="divisor-carrinho">
                </li>



                <li>
                  <div class="d-flex">
                    <span>FRETE</span>

                    <div class="preco-total-carrinho">
                      <span>R${{frete.toFixed(2)}}</span>
                    </div>
                  </div>
                </li>

                <li>
                  <div class="d-flex">
                    <span class="total-produto">TOTAL</span>

                    <div class="preco-total-carrinho">
                      <span>R${{totalPedido.toFixed(2)}}</span>
                    </div>
                  </div>
                </li>

              </ul>
            </div>

            <!-- <div class="carrinho v-md">
              <div class="d-flex">
                <mat-icon class="icone-carrinho">shopping_cart</mat-icon>
                <h4 class="navbar-brand titulo-carrinho">Carrinho</h4>
              </div>
              <ul class="itens-carrinho">
                <li *ngFor="let item of itensCarrinho">
                  <div class="d-flex">
                    <span class="nome-produto">{{item.name}}</span>
                    <span class="quantidade-produto">{{item.quantityCar}}x</span>

                    <div class="preco-produto-carrinho">
                      <span class="preco-produto-carrinho">R${{item.total.toFixed(2)}}</span>
                    </div>
                  </div>

                  <div class="botoes-produto-carrinho">
                    <a mat-icon-button class="cor-verde botao-carrinho" (click)="addItem(item)">
                      <mat-icon>add</mat-icon>
                    </a>

                    <a mat-icon-button color="warn" class="botao-carrinho" (click)="removeItem(item)">
                      <mat-icon>delete</mat-icon>
                    </a>
                  </div>
                  <hr class="divisor-carrinho">


                </li>



                <li>
                  <div class="d-flex">
                    <span>FRETE</span>

                    <div class="preco-total-carrinho">
                      <span>R${{frete.toFixed(2)}}</span>
                    </div>
                  </div>
                </li>

                <li>
                  <div class="d-flex">
                    <span class="total-produto">TOTAL</span>

                    <div class="preco-total-carrinho">
                      <span>R${{totalPedido.toFixed(2)}}</span>
                    </div>
                  </div>
                </li>

              </ul>
            </div> -->



            <div class="campo-opcoes-pedido">
              <div>
                <nav class="navbar navbar-expand opcoes-pedido">
                  <div class="container-fluid" style="padding-bottom:0">
                    <h4 class="navbar-brand titulo-opcoes" href="#">Pagamento</h4>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                      data-bs-target="#navbarNavDarkDropdown" aria-controls="navbarNavDarkDropdown"
                      aria-expanded="false" aria-label="Toggle navigation">
                      <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarNavDarkDropdown" style="margin-left: auto;">
                      <div class="opcoes-endereco-pagamento">
                        <ul class="navbar-nav">
                          <li class="nav-item dropdown">


                            <a class="nav-link dropdown-toggle link-endereco" href="#" id="navbarDarkDropdownMenuLink"
                              role="button" data-bs-toggle="dropdown" aria-expanded="false">
                              Método
                            </a>

                            <ul class="dropdown-menu dropdown-menu-white" aria-labelledby="navbarDarkDropdownMenuLink">
                              <li *ngFor="let pagamento of pagamentos"><a class="dropdown-item"
                                  (click)="alterarMetodoPagamento(pagamento)">{{ pagamento.description }}</a></li>
                            </ul>
                          </li>
                        </ul>
                      </div>
                    </div>

                  </div>
                </nav>
              </div>
              <p *ngIf="pagamentoSelecionado != null" class="opcao-selecionada">{{ pagamentoSelecionado.description }}
              </p>
            </div>

            <div class="campo-opcoes-pedido">
              <div>
                <nav class="navbar navbar-expand opcoes-pedido" style="margin-top: 10px">
                  <div class="container-fluid" style="padding-bottom:0">
                    <h4 class="navbar-brand titulo-opcoes">Finalizar Pedido</h4>
                    <button class=" btn finalizar-pedido" (click)="exportarPedido()">Compra</button>

                  </div>
                </nav>
              </div>
            </div>




          </div>
        </div>



      </div>
    </div>
  </section>

  <section id="carrinho-mobile" class="fixed-bottom" style="padding:0">
    <div class="row d-flex align-items-center" style="padding: 5px 0px; margin: 0;">
      <div class="col-3">
        <mat-icon [matBadge]="itensCarrinho.length" matBadgeColor="primary" matBadgeSize="small" style="color: white;"
          *ngIf="carrinhoMobileOpen==false">
          shopping_cart</mat-icon>

        <mat-icon [matBadge]="itensCarrinho.length" matBadgeColor="primary" matBadgeSize="small" style="color: white;"
          *ngIf="carrinhoMobileOpen==true">
          shopping_cart</mat-icon>
      </div>

      <div class="col-6 d-flex justify-content-center" style="margin-left: auto;">
        <a class="preco-final-carrinho-mobile" (click)="openDialogCarMobile()" *ngIf="carrinhoMobileOpen==false">Ver
          Carrinho</a>
        <a class="preco-final-carrinho-mobile" *ngIf="carrinhoMobileOpen==true">Carrinho Aberto</a>
      </div>

      <div class="col-3 d-flex" style="padding: 0px 12px 0px 0px;">
        <span class="preco-final-carrinho-mobile" style="margin-left: auto;"
          *ngIf="carrinhoMobileOpen==false">R${{totalPedido.toFixed(2)}}</span>
      </div>
    </div>


  </section>



  <app-footer></app-footer>
</body>